.table-container {
  margin: 1rem;
}

.heading {
  font-size: xx-large;
}

.app {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

table th {
  font-size: 22px;
}

table td {
  font-size: 20px;
}

table td:first-child {
  text-align: left;
  font-weight: 800;
}

table th,
td {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

table {
  width: 600px;
  overflow-x: scroll;
  border-collapse: collapse;
}
