.table-container {
    margin: 1rem;
}

.heading {
    font-size: xx-large;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

table th {
    font-size: 22px;
}

table td {
    font-size: 20px;
}

table td:first-child {
    text-align: left;
    font-weight: 800;
}

table th,td{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 600px;
    overflow-x: scroll;
}